.img-all{
  background-image: url(/src/assets/Login5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img-bg{
    margin-top: 5vh;
    height: 90vh;
    border: 3px solid white;
    border-radius: 10%;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    background: #5e796f;
}
.real-view{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    color: black;
}
.icon-user{
    color: white;
    height: 60px;
    width: 60px;
}
.label{
    width: 95%;
    display: flex;
    margin-left: 5px;
    justify-content: space-between;
}
.login-name {
    margin-left: -40px;
    font-family: "Iansui", cursive;
    font-weight: 800;
    font-style: normal;
    font-variant: small-caps;
    letter-spacing: 1px;
    
  }
  .input-area{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .input-area h4{
    width: 95%;
    font-size: 20px;
    text-align: start;
    font-family: "Iansui", cursive;
  }
  .inp{
    width: 95%;
    height:45px ;
    background: transparent;
    padding-left: 10px;
    font-size: 21px;
    border-radius: 10px;
    border: none;
    border: 1px solid white;
    color: white;
    font-family: "Iansui", cursive;

  }
  .inp:focus{
    outline: none;
  }
  .forgot{
    width: 95%;
    margin-left: 20px;
    text-align: start;
  }
  .forgot a{
    color: rgb(44, 77, 147);
  }
  .icon-m,.icon-p{
    color: white;
    margin-right: 5px;
  }
  .erorr-messa{
    height: 40px;
    margin-left: 18px;
    width: 95%;
    overflow-x: scroll;
    overflow-y: hidden;
    
  }
  .login-btn{
    height: 40px;
    color: black;
    border-radius: 10px;
    font-weight: 800;
    font-family: "Iansui", cursive;
    place-items: center;
    margin-left: -5%;
  }
  
  .erorr-msg{
    color:red;
    text-align:start; 
    width:95%;
  }