#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  font-family: "Iansui", cursive;
}
.all-p-name{
  display: flex;
  height: 90vh;
  margin-top: 10vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.p-name{
  margin-top: 10px;
  padding: 20px;
  height: 240px;
  overflow:hidden
}
.p-name div{
  width: 100%;
  z-index: 2;
  height: 100%;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c4b40;;
  box-shadow: 4px 2px 0px 3px 
  rgba(10, 10, 10, 0.25);
}
.bg-screen{
  height: 12vh;
  width: 102%;
  position: fixed;
  top: 0px;
  border-bottom: 2px  blur(15%);
  z-index: 3;
}
.new-p{
  margin-top: 20px;
  font-family: "Iansui", cursive;
}
.data-scroll{
  height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.project-hld{
  z-index: 3;
  width: 100%;
  color: white;
  font-size: 30px;
  font-style: oblique;
  font-family: "Iansui", cursive;
  font-weight: 800;
  position: relative;
  top: 20%;
  text-transform:capitalize;
  text-align:start

}
.newproject-on{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 360px;
  z-index: 2;
  background-color: black;
  transition: 0.5s;
  border-radius: 20px;
}
.newproject-off{
  position: absolute;
  top: 22.5%;
  left: 13.5%;
  height: 180px;
  width: 200px;
  z-index: -1;
  opacity: 0;
}
.poject-place{
  text-align: start;
  font-weight: 300;
  font-family: "Iansui", cursive;
}
.new-project-div{
  display: flex;
  justify-content: space-between;
  
}
.poject-place-new{
  text-align: start;
  font-weight: 600;
  font-family: "Iansui", cursive;
  margin-top: 30px;
}
.input-p-name{
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 25px;
  font-family: "Iansui", cursive;
}
.input-p-name:focus{
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}
.btn-add-p{
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  background: #2c4b40;
  margin-top: 10%;
  margin-left: 80%;
}

.project-all-data-on{
 
  position: absolute;
  top:0%;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
  overflow: hidden;
}
.project-all-data-off{
  position: absolute;
  top:-100%;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
}

.journal-input{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
}
.journal-view{
  height: 100vh;
  padding-top: 17vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0;
}
.input-row{
  height: 40px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forword-btn{
  color:  #2c4b40;
  transition: 0.5s;
}
.forword-btn-active{
  color:  #ffffff;
  transform: rotateZ(180deg);
  transition: 0.5s;
}
.input-row-sub input{
  width: 100%;
  height: 40px;
  padding-left: 15px;
  background: white;
  border-radius: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  font-size: 24px;
}
.next-btn{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-shadow: 4px 3px 0px 3px white;
  background: #2c4b40;
  border-radius: 15px;
}

.navbtn{
  height: 45px;
  color: white;
}
.datauploding{
  border-radius: 15px;
  background-color: #2c4b40 ;
  color: white;
}
.wellcome{
  margin-top: 130px;
  color: black;
  font-weight: 700;
}
.ledger-box{
  width: 2;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 40px;
  padding-top: 15vh;
}
.name-box{
  min-height: 40px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-l{
  min-height: 50px;
  width: 100%;
  border-radius: 15px;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  transition: 0.4s;
  background-color: white;
  color: #2c4b40;

}
.l-bor{
  background: #2c4b40;
  color: white;
  transition: 0.4s;
  font-weight: 700;
  transform: scale(1.06);
}
.led-name{
    color: #2c4b40;
    font-size: 25px;
    font-style: oblique;
    font-family: "Iansui", cursive;
    font-weight: 600;
    text-transform:capitalize;
    text-align: start;
    display: flex;
    height: 50px;
    overflow-y: scroll;
    overflow-x: scroll;
}
.single-ledger{
  border: 1px solid #2c4b40;
  border-radius:10px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #2c4b40;
  height: 5vh;
}
.single-ledger-view{
  height: 50vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #2c4b40;
}
.single-ledger-bottom{
  border: 1px solid #2c4b40;
  border-radius:10px;
  position: relative;
  bottom: 0px;
}
.box-balance{
  height: 50px;
  border-radius: 15px;
  border: 1px solid #2c4b40 ;
  color: #2c4b40;
}
.icon-box{
  height: 50px;
}
.icon{
  color: #2c4b40;
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.entry-names{
  text-transform:capitalize;
  color: #2c4b40;
}
/*trial*/
.screen-trial{
  height: 100vh;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
  color: #2c4b40;;
}
.scroll-trial{
  margin-top: 15vh;
  border-bottom: 2px solid white;
  text-align: start;
}
.trial-hed{
  letter-spacing: 2px;
  font-size: 35px;
  text-align: center;
}
.real-scroll{
  height: 60vh;
  text-align: start;
  overflow-x: hidden;
  overflow-y: scroll;
}
.scroll-bottom{
  border-top: 2px solid white;
  text-align: start;
}
.img-home{
  background-image: url(/src/assets/Login5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: end;
}
.back-btn{
  color: rgb(255, 255, 255);
  font-weight: 900;
  height: 40px;
  width: 40px;
}