:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  color-scheme: light dark;
 
}
body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  color: rgba(233, 221, 221, 0.87);
  background-image: url(/src/assets/Login5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}